extends ../shared/template
block content
  h1 Hangman
  #controls1
    button#start Start
    input#name(type='text')
  #clock
  #controls2
    button#send Send
    input#letter(type='text')
    #player
    #id
    #guess
    #tries
    #did-win
