ul
  li
    a(href='/')
      i.fa.fa-university(aria-hidden='true').fa-spin.fa-fw
      span Home
  li
    a(href='/about')
      i.fa.fa-info(aria-hidden='true').fa-spin.fa-fw
      span About
  li
    a(href='/faq')
      i.fa.fa-question-circle-o(aria-hidden='true').fa-spin.fa-pulse.fa-fw
      span FAQ
  li
    a(href='/aliens')
      i.fa.fa-reddit-alien(aria-hidden='true').fa-spin.fa-fw
      span Aliens List
  li
    a(href='/aliens/new')
      i.fa.fa-qq(aria-hidden='true').fa-spin.fa-fw
      span New Alien
